[Desktop Entry]
Name=Onyx
Comment=Onyx GNOME Session
Exec=env GNOME_SHELL_SESSION_MODE=onyx /usr/bin/gnome-session --session=onyx
TryExec=/usr/bin/gnome-shell
Type=Application
DesktopNames=onyx:GNOME
X-GDM-SessionRegisters=true
X-Ubuntu-Gettext-Domain=gnome-session-3.0
